<!DOCTYPE html>
<html>
<head>
  <title>GLOM Authorization FULL KILLER</title>
  <link rel="stylesheet" href="/glom.css">
</head>
<body>
<div class="bg-landing">
  <div class="landing-center">
    <h1>GLOM Authorization</h1>
    <p class="sub">FULL KILLER Source & Panel Authorization System</p>
    <button class="btn" onclick="location.href='/disclaimer'">Enter Panel</button>
    <button class="btn discord" onclick="location.href='https://discord.gg/Y9aE4YyCaS'">Join Discord</button>
  </div>
</div>
</body>
</html>
